<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        @font-face {
            font-family: 'Poppins-regular';
            src: url("{% static 'fonts/Poppins-Regular.ttf' %}");
        }
    
        body{
            font-family:'Poppins-regular';
        }
    </style>
    {% block styles %}
    
    {% endblock %}
</head>
<body>
    {% block main_content %}
    
    {% endblock %}

    {% block scripts %}
    
    {% endblock %}
</body>
</html>