{% extends 'base.html' %}
{% block title %}Create a new form{% endblock %}
{% block styles %}
<style>
    /*md: 768px*/
    @media(min-width: 768px){
      .layout{
        display:grid; 
        grid-template-columns:repeat(2, minmax(0, 50%)); 
        align-items:flex-start;
        gap:0.5rem;
      }

     .layout > div{
        min-height: 250px;
     }
    
    }

    a{
        text-decoration:none;
        color:currentColor;
    }

</style>
{% endblock %}
{% block main_content %}
<main class="p-2">
    <h1 class="text-center fw-bold">Create Your Form</h1>
    <div class="layout">
        <form class="border rounded p-1">
            {% csrf_token %}
            <h2 class="text-center fw-bold">Form Preview</h2>
            <div id="root">

            </div>
        </form>

        <div class="p-2 d-flex justify-content-center align-items-center border rounded">
            <div class="m-2">
                <button class="btn btn-primary" onclick="addTextInput()">text input</button>
            </div>
            <div class="m-2">
                <button class="btn btn-primary" onclick="addTextArea()">text area</button>
            </div>
            <div class="m-2">
                <button class="btn btn-success" onclick="done()">done</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
  <script>
       
        let fieldId = 1;

        const addTextInput = () => {
            const htmlContent = `
            <div class="m-2" id="inputParent">
                <label class="m-2 fw-bold p-1" contenteditable>Enter your label here</label>
                <input type="text" id="field-${fieldId}" class="form-control field">
            </div>
            `;
            document.getElementById('root').insertAdjacentHTML('beforeend', htmlContent);
            fieldId++;
        }; 

        const addTextArea =  () => {
               const htmlContent = `
               <div class="m-2" id="inputParent">
                   <label class="m-2 fw-bold p-1" contenteditable>Enter your label here</label>
                   <textarea name="" class="form-control field" id="field-${fieldId}" cols="30" rows="10"></textarea>
                </div>
                `;
                document.getElementById('root').insertAdjacentHTML('beforeend', htmlContent);
                fieldId++; 
           }; 

        const done = () => {
            const fields = [];

            const inputParents = document.querySelectorAll('#inputParent'); 
            inputParents.forEach((inputParent)=>{
                const field = inputParent.querySelector('.field');
                const label = inputParent.querySelector('label');
                const fieldData = {'tagName':field.tagName.toLocaleLowerCase(), 'labelName':label.innerHTML, 'attributes': {}};

               const fieldAttributes = field.attributes; 
               const attributeList = []; 
               for(let attribute of fieldAttributes){
                    fieldData.attributes[attribute.name] = attribute.value; // populating the attributes object in fieldData
               }

               //console.log(fieldData);
               fields.push(fieldData);
            });
            console.log(document.querySelector('input[name=csrfmiddlewaretoken]').value);
            console.log(fields);
            console.log(JSON.stringify(fields));
            fetch(`{% url 'index' %}`, {
                method:'POST',
                headers: {
                      'Content-Type':'application/json',
                      'X-CSRFToken':document.querySelector('input[name=csrfmiddlewaretoken]').value
                }, 
                body:JSON.stringify(fields)
            })
            // no response is required
        };
  </script>
{% endblock %}
