{% extends 'base.html' %}
{% block title %}Create a new form{% endblock %}
{% block styles %}
<style>
    /*md: 768px*/
    @media(min-width: 768px){
      .layout{
        display:grid; 
        grid-template-columns:repeat(2, minmax(0, 50%)); 
        align-items:flex-start;
        gap:0.5rem;
      }

     .layout > div{
        min-height: 250px;
     }
    
    }

    a{
        text-decoration:none;
        color:currentColor;
    }

</style>
{% endblock %}
{% block main_content %}
<main class="p-2">
    <h1 class="text-center fw-bold">Create Your Form</h1>
    <div class="layout">
        <form class="border rounded p-1">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <div contenteditable id="form-title" class="p-1">
                    Form Title
                </div>
            </div>
            <div id="root">

            </div>
        </form>

        <div class="p-2 d-flex justify-content-center align-items-center border rounded">
            <div class="m-2">
                <button class="btn btn-primary btn-sm" onclick="addTextInput()">text input</button>
            </div>
            <div class="m-2">
                <button class="btn btn-primary btn-sm" onclick="addTextArea()">text area</button>
            </div>
            <div class="m-2">
                <button class="btn btn-primary btn-sm" onclick="addNumberInput()">number input</button>
            </div>
            <div class="m-2">
                <button class="btn btn-success btn-sm" onclick="done()">done</button>
            </div>
        </div>
    </div>
</main>

<div class="visually-hidden">
    <a href="{% url 'preview-forms' %}" id="preview-forms-link"></a>
</div>
{% endblock %}
{% block scripts %}
  <script>
       
        let fieldId = 1;

        const addTextInput = () => {
            const htmlContent = `
            <div class="m-2" id="inputParent">
                <label class="m-2 fw-bold p-1" contenteditable>Enter your label here</label>
                <input type="text"  name="field-${fieldId}" id="field-${fieldId}" class="form-control field">
            </div>
            `;
            document.getElementById('root').insertAdjacentHTML('beforeend', htmlContent);
            fieldId++;
        }; 
        const addNumberInput = () => {
            const htmlContent = `
            <div class="m-2" id="inputParent">
                <label class="m-2 fw-bold p-1" contenteditable>Enter your label here</label>
                <input type="number"  name="field-${fieldId}" id="field-${fieldId}" class="form-control field">
            </div>
            `;
            document.getElementById('root').insertAdjacentHTML('beforeend', htmlContent);
            fieldId++;
        }; 

        const addTextArea =  () => {
               const htmlContent = `
               <div class="m-2" id="inputParent">
                   <label class="m-2 fw-bold p-1" contenteditable>Enter your label here</label>
                   <textarea name="field-${fieldId}" class="form-control field" id="field-${fieldId}" cols="30" rows="10"></textarea>
                </div>
                `;
                document.getElementById('root').insertAdjacentHTML('beforeend', htmlContent);
                fieldId++; 
           }; 

        const done = () => {
            const formData = {'form_title': document.getElementById('form-title').innerHTML}
            const fields = [];
            
            const inputParents = document.querySelectorAll('#inputParent'); 
            inputParents.forEach((inputParent)=>{
                const field = inputParent.querySelector('.field');
                const label = inputParent.querySelector('label');
                const fieldData = {'tagName':field.tagName.toLocaleLowerCase(), 'labelName':label.innerHTML, 'attributes': {}};

               const fieldAttributes = field.attributes; 
               for(let attribute of fieldAttributes){
                    fieldData.attributes[attribute.name] = attribute.value; // populating the attributes object in fieldData
               }

               //console.log(fieldData);
               fields.push(fieldData);
            });

            formData['fields'] = fields; 
            //console.log(document.querySelector('input[name=csrfmiddlewaretoken]').value);
            //console.log(fields);
            //console.log(JSON.stringify(fields));
            fetch(`{% url 'index' %}`, {
                method:'POST',
                headers: {
                      'Content-Type':'application/json',
                      'X-CSRFToken':document.querySelector('input[name=csrfmiddlewaretoken]').value
                }, 
                body:JSON.stringify(formData)
            })

            document.getElementById('preview-forms-link').click();
            // no response is required
        };
  </script>
{% endblock %}
